
    <h1>Chhhhatish....!</h1>
    <div class="line-thin"></div>
    <div id="recorded-chat">
      <ul id="messages">
        <% for (var i = 0; i <  chatLines.length; i++) { %>
          <% if (i % 2 == 0) { %>
            <li>.. 
          <%  } else { %>
            <li>. 
          <% }%>
          <%= chatLines[i].chatLine %>
            </li>
        <% } %>


      </ul>
    </div>
    <div class="line-thin"></div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>