<!doctype html>
<html>
  <head>
    <title>Chattish</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="/js/chat.js"></script>
  </head>
  <body>
    <div id="full-chat" class="light-grey">
      <ul id="messages"></ul>
    </div>  
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
  </body>
</html>